body {
  background-color: #E8E4D6;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  cursor: crosshair;
}

#gallery {
  height: 75vmax;
  width: 95vmax;
  position: relative;
}

.block {
  position: absolute;
  width: 150px;
  height: 200px;
  z-index: 1;
}

.block:hover {
  z-index: 2;
}
